:root {
  --background-color: #F8FAFC;
  --text-highlight-color: #FFFFFF;
  --text-color: #2B2B2B;
  --primary-color: #3B5FEF;
  --secondary-text-color: #969798;
  --primary-color-off-shade: #E0E6FF;
  --danger-color: #EA3250;
  --form-background-color: #F2F2F2;
  --max-form-height: 17vw;
  --min-form-height: 15vw;
}


@font-face {
	font-family: 'Rubik-Light';
	font-weight: 300;
  src: url('../assets/Rubik-Light.ttf');
}


@font-face {
	font-family: 'Muli';
  font-weight: 400;
  src: url('../assets/Muli-Regular.ttf');
}

@font-face {
	font-family: 'Muli-SemiBold';
  font-weight: 400;
  src: url('../assets/Muli-SemiBold.ttf');
}

@font-face {
	font-family: 'Muli-Bold';
	font-weight: 400;
  src: url('../assets/Muli-Bold.ttf');
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--form-background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 699px) and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

.react-swipeable-view-container {
  will-change: unset !important;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none;
}

*:focus {
  outline: none;
}

/* Prevent double touch zoom on buttons*/

.scrollable-element {
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (orientation: portrait) {
  body {
    max-height: 764px;
    max-width: 430px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1224px) {
  body {
    max-height: 430px;
    max-width: 764px;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 1224px) {
  body {
    max-height: 764px;
    max-width: 430px;
  }
}